<div class="container">

  <div class="card">

    <img src="assets/logo.png" alt="logo" class="logo">
    <h2 *ngIf="modo === 'login'">Portal do Aluno</h2>
    <h2 *ngIf="modo === 'cadastro'">Criar Conta</h2>

    <!-- LOGIN -->
    <div *ngIf="modo === 'login'">

      <input type="email" placeholder="Email institucional" [(ngModel)]="email">

      <input type="password" placeholder="Senha" [(ngModel)]="senha">

      <button (click)="login()">Entrar</button>

      <p class="link" (click)="trocarModo('cadastro')">
        Não tem conta? Criar conta
      </p>

    </div>

    <!-- CADASTRO -->
    <div *ngIf="modo === 'cadastro'">

      <input type="text" placeholder="Nome completo" [(ngModel)]="nome">

      <input type="email" placeholder="Email institucional" [(ngModel)]="email">

      <input type="password" placeholder="Senha" [(ngModel)]="senha">

      <button (click)="cadastrar()">Criar conta</button>

      <p class="link" (click)="trocarModo('login')">
        Já tenho conta
      </p>

    </div>

  </div>

</div>